/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT

 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define TCH 4

&lt { quick_tap_ms = <140>; };

&mt { quick_tap_ms = <120>; };

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
    combos {
        compatible = "zmk,combos";

        super {
            bindings = <&sk LEFT_GUI>;
            key-positions = <38 39>;
        };

        alt {
            bindings = <&sk LALT>;
            key-positions = <37 40>;
        };

        ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <36 41>;
        };

        r_shift_ctrl {
            bindings = <&kp LS(LCTRL)>;
            key-positions = <32 33>;
        };

        l_shift_ctrl {
            bindings = <&kp LS(LCTRL)>;
            key-positions = <27 26>;
        };

        r_shift_ctrl_alt {
            bindings = <&kp LS(LC(LEFT_ALT))>;
            key-positions = <32 33 34>;
        };

        r_ctrl_alt {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <33 34>;
        };

        r_gui_shift_ctrl {
            bindings = <&kp LS(LC(LEFT_GUI))>;
            key-positions = <31 32 33>;
        };

        r_gui_shift {
            bindings = <&kp LS(LEFT_GUI)>;
            key-positions = <31 32>;
        };

        r_gui_ctrl {
            bindings = <&kp LC(LEFT_GUI)>;
            key-positions = <31 33>;
        };

        r_gui_alt {
            bindings = <&kp LA(LEFT_GUI)>;
            key-positions = <31 34>;
        };

        l_shift_ctrl_alt {
            bindings = <&kp LS(LC(LEFT_ALT))>;
            key-positions = <27 26 25>;
        };

        l_ctrl_alt {
            bindings = <&kp LC(LEFT_ALT)>;
            key-positions = <26 25>;
        };

        l_gui_shift_ctrl {
            bindings = <&kp LS(LC(LEFT_GUI))>;
            key-positions = <28 27 26>;
        };

        l_gui_shift {
            bindings = <&kp LS(LEFT_GUI)>;
            key-positions = <28 27>;
        };

        l_gui_ctrl {
            bindings = <&kp LC(LEFT_GUI)>;
            key-positions = <28 26>;
        };

        l_gui_alt {
            bindings = <&kp LA(LEFT_GUI)>;
            key-positions = <28 25>;
        };
    };
};

/ {
    behaviors {
        td_1_11: td_1_11 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_1_11";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N1)>, <&kp LA(LC(KP_N1))>;

            tapping-term-ms = <300>;
        };

        td_3_13: td_3_13 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_3_13";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N3)>, <&kp LA(LC(KP_N3))>;

            tapping-term-ms = <300>;
        };

        td_4_14: td_4_14 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_4_14";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N4)>, <&kp LA(LC(KP_N4))>;

            tapping-term-ms = <300>;
        };

        td_2_12: td_2_12 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_2_12";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N2)>, <&kp LA(LC(KP_N2))>;

            tapping-term-ms = <300>;
        };

        td_5_15: td_5_15 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_5_15";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N5)>, <&kp LA(LC(KP_N5))>;

            tapping-term-ms = <300>;
        };

        td_6_16: td_6_16 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_6_16";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N6)>, <&kp LA(LC(KP_N6))>;

            tapping-term-ms = <300>;
        };

        td_7_17: td_7_17 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_7_17";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N7)>, <&kp LA(LC(KP_N7))>;

            tapping-term-ms = <300>;
        };

        td_8_18: td_8_18 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_8_18";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N8)>, <&kp LA(LC(KP_N8))>;

            tapping-term-ms = <300>;
        };

        td_9_19: td_9_19 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_9_19";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N9)>, <&kp LA(LC(KP_N9))>;

            tapping-term-ms = <300>;
        };

        td_10_20: td_10_20 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_10_20";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_N0)>, <&kp LA(LC(KP_N0))>;

            tapping-term-ms = <300>;
        };

        super_key_behavior: super_key_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "SUPER_KEY_BEHAVIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            require-prior-idle-ms = <175>;
            hold-trigger-key-positions = <35>;
            quick-tap-ms = <175>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |none  | lang/meh    |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  [   | none |
            //        | ctrl+tab    |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | '    |
            //        | consoles    |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | \    |
            //                           | SHIFT/DEL | SPC | LWR/TAB |   | ADJ/ESC | RSE/ENT| SHIFT/BackSPACE |

            bindings = <
&mt LG(LS(LA(LCTRL))) LC(V)  &super_key_behavior LG(W) Q  &kp W  &kp E                        &kp R                            &super_key_behavior LG(LS(Z)) T  &kp Y      &kp U      &kp I            &kp O    &kp P     &kp LBKT
&mt LALT LC(C)               &super_key_behavior LG(A) A  &kp S  &super_key_behavior LG(D) D  &super_key_behavior LG(LS(F)) F  &kp G                            &kp H      &kp J      &kp K            &kp L    &kp SEMI  &kp SQT
&mt LCTRL RG(SPACE)          &kp Z                        &kp X  &kp C                        &kp V                            &super_key_behavior LG(B) B      &kp N      &kp M      &kp COMMA        &kp DOT  &kp FSLH  &kp BSLH
                                                                 &mt LSHIFT DEL               &kp SPACE                        &lt 1 TAB                        &lt 3 ESC  &lt 2 RET  &mt RSHIFT BSPC
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |     |  vol_up  |  PG_DN    |  PG_UP  |  INS    |  HOME   |  END    |   | none |  7  |  8  |  9  | none| none| none |
            //       |  mute    |  CTRL(1)  |  CTRL(2)|  CTRL(3)|  CTRL(4)|  CTRL(5)|   | none |  4  |  5  |  6  |  .  | none|
            //       |  vol_donw|  CTRL(6)  |  ALT    |  CTRL   |  SHIFT  |CTRL(7/8)|   | none |  1  |  2  |  3  |  0  |     |
            //                                  | TRANS |  TRANS   | TRANS |            | TRANS | TRANS  | TRANS |

            bindings = <
&kp LG(P)  &kp F6    &kp LG(F4)  &kp LG(TAB)  &kp LG(G)  &kp LG(S)  &none   &kp N7  &kp N8    &kp N9  &none    &none
&kp LG(N)  &td_1_11  &td_2_12    &td_3_13     &td_4_14   &td_5_15   &none   &kp N4  &kp N5    &kp N6  &kp DOT  &none
&kp LG(I)  &td_6_16  &td_7_17    &td_8_18     &td_9_19   &td_10_20  &none   &kp N1  &kp N2    &kp N3  &kp N0   &none
                                 &lt 4 TAB    &trans     &trans     &trans  &trans  &kp BSPC
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |none | none |  =   |  +  |  none  |  none  |  none  |         | shift F10| shift alt F9| run line pycharm  |-   | _   | ]      |none|
            //       | none |  !   |  @  |  #     |  $     |  %     |         | ^            | &           |  *                | (  | )   | none   |
            //       | none |  F1  | F2  |  F3    |  F4    |  F5    |         | F6           | F7          | F8                | F9 | F10 | F11 F12|
            //                              | TRANS |  TRANS   | TRANS |        | TRANS | TRANS  | TRANS |

            bindings = <
&none    &kp EQUAL   &kp LS(EQUAL)  &none       &none       &none       &kp LG(LS(P))  &kp LC(Z)   &kp LC(A)   &kp MINUS   &kp LS(MINUS)  &kp RBKT
&none    &kp LS(N1)  &kp LS(N2)     &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)     &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)     &none
&kp F12  &kp F1      &kp F2         &kp F3      &kp F4      &kp F5      &kp F6         &kp F7      &kp F8      &kp F9      &kp F10        &kp F11
                                    &trans      &trans      &trans      &trans         &trans      &trans
            >;
        };

        adjust_layer {
            // -----------------------------------------------------------------------------------------
            // | none | `    |CTRL(RIGHT)| none |none |GUI(W)|          |   none   |  none |  CAPS   |  none   |  vim_past   |  none             |  none |
            //        | none | none      | none |none |none  |          |   LEFT   | DOWN  |  UP     | RIGHT   |  LT(HOME)   |  none             |
            //        | none |  none     |GUI(X)|none |none  |          |   SHIFT  | MENU  |  CTRL   |  ALT    |  none       |   SHIFT CTRL F12  |
            //           | TRANS |  GUI   | ace_jump_pycharm |        | TRANS | TRANS  | TRANS |

            bindings = <
&kp GRAVE  &sk LEFT_ALT  &sk LCTRL  &sk LEFT_SHIFT  &sk LEFT_GUI    &kp LC(LA(F1))  &kp LG(D)  &sk LEFT_GUI  &sk LEFT_SHIFT  &sk LCTRL  &sk LEFT_ALT  &kp K_VOLUME_UP
&none      &none         &none      &none           &kp LG(F4)      &kp LA(LC(F2))  &kp LEFT   &kp DOWN      &kp UP          &kp RIGHT  &kp K_NEXT    &kp K_PP
&none      &none         &none      &none           &kp LA(LC(F4))  &kp LA(LC(F3))  &none      &kp HOME      &kp END         &none      &kp K_PREV    &kp K_VOL_DN
                                    &trans          &sk LGUI        &trans          &trans     &trans        &lt 4 TAB
            >;
        };

        tech_layer {
            bindings = <
&bootloader  &none         &none         &none         &none         &tog 5        &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &none         &trans        &trans
            >;
        };

        shooter {
            bindings = <
&kp N1  &kp TAB    &kp Q  &kp W     &kp E      &kp R  &kp Y    &kp U      &kp I      &kp O    &kp P     &tog 5
&kp N2  &kp LSHFT  &kp A  &kp S     &kp D      &kp F  &kp H    &kp J      &kp K      &kp L    &kp SEMI  &trans
&kp N3  &kp LCTRL  &kp Z  &kp X     &kp C      &kp V  &kp N    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &trans
                          &kp LALT  &kp SPACE  &mo 6  &kp ESC  &kp ENTER  &kp BSPC
            >;
        };

        shooter2 {
            bindings = <
&kp N4  &kp N7  &trans  &kp ESC  &kp M   &kp T   &trans  &trans  &trans  &trans  &trans  &trans
&kp N5  &kp N8  &trans  &trans   &none   &kp G   &trans  &trans  &trans  &trans  &trans  &trans
&kp N6  &kp N9  &trans  &trans   &trans  &kp B   &trans  &trans  &trans  &trans  &trans  &trans
                        &tog 5   &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
